.Caja-roja{
    background-color: red;
    width: 100px;
    height: 100px;

}

.Caja-verde{
    background-color: green;
    width: 100px;
    height: 100px;
}
.Caja-azul{
    background-color: blue;
    width: 100px;
    height: 100px;
}
.contenedor{
    display: flex;
}